.contenedor__encabezado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .encabezado {
        max-width: 500px;
        img{
            max-width: 500px;
            animation: flotar 5s ease-in-out infinite;
        }
        h1{
            font-size: 60px;
            font-weight: 900;
            color: $colorPrincipal;
        }
        h2{
            font-size: $tituloTamano;
            font-weight: 900;
            color: $colorTitulos;
            margin-top: -10px;
            line-height: 50px;
        }
        p{
            margin-top: 10px;
            color: #000000;
            font-size: 20px;
            font-weight: 600;
        }
    .boton1{
            padding: 10px 40px;
            background-color: $colorPrincipal;
            border-radius: 20px;
            font-weight: 600;
            font-size: 18px;
            border: none;
            &:hover{
                background-color: $colorClaro;
                color: $colorSecundario;
            }
        }
    }
}

/*          SERVICIOS HOME           */

.cuadro__servicios{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        max-width: 200px;
        &:hover {animation: flotar 5s ease-in-out infinite;}
    }
    p{
        width: 200px;
        text-align: center;
        color: $colorTitulos;
    }
}

.contenedor__servicios h2{
    text-align: center;
    font-size: $tituloTamano;
    font-weight: $tituloPeso;
    padding: 50px;
    color: $colorPrincipal;
}

.boton1{
    padding: 10px 40px;
    background-color: $colorPrincipal;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    &:focus {
        background: $colorPrincipal;
    }
    &:hover{
        background-color: $colorClaro;
        color: $colorSecundario;
    }
}

/*          SLIDER HOME           */

.contenedor__slider{
    display: flex;
    justify-content: space-around;
    h2{
        text-align: center;
        font-size: $tituloTamano;
        font-weight: $tituloPeso;
        padding: 50px;
        color: $colorPrincipal;
    }
    p{
        color: $colorSecundario;
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        padding: 50px;
    }
    div{
        width: 900px;
    }
}

/*          EQUIPO HOME          */

.contenedor__equipo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 50px;
    h2{
        text-align: center;
        font-size: 50px;
        font-weight: 600;
        padding: 50px;
        color: $colorPrincipal;
    }
}